.secao-horizontal .secao__cartoes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80%/2, max(350px, 80%/3)), 1fr));
    gap: 1.25rem;
}

.secao-horizontal .cartao{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 3rem 0.9rem;
    column-gap: 1.25rem;
}

.secao-horizontal .cartao__imagem{
    grid-area: 1 / 1 / 4 / 2;
}

.secao-horizontal .cartao__titulo{
    grid-area: 2 / 2 / 3 / 3;
}

.secao-horizontal .cartao__botao{
    grid-area: 2 / 3 / 4 / 4;
}

.secao-horizontal .cartao__player{
    grid-area: 3 / 2 / 4 / 3;
}

.secao-vertical {
    grid-template-columns: 1fr auto;
}

.secao-vertical .secao__cartoes{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-column: 1 / 3;
    column-gap: 1.25rem;
}